<div class="card card--wide">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <h1 class="heading">{{i18n 'email_verification_otp_required_title'}}</h1>
  <form class="form" id="AuthnWidgetForm">
    {{> errors}}
    <div class="text-block">
      <div class="text-block__text">
        <p>{{i18n 'email_verification_otp_required_text_1'}} <span style="font-weight:bold">{{email}}</span>.
          {{i18n 'email_verification_otp_required_text_2'}}</p>
        <div class="text-input__icon">
          <input id="emailOtp" name="otp" type="text" class="text-input text-input--primary required" value=""/>
        </div>
        <p>{{i18n 'email_verification_otp_required_need_code'}} <a href="#" data-actionid="resendOtp">{{i18n 'btn_resend'}}</a></p>
      </div>
    </div>
    <div class="button-set">
      {{#with _links as |actions|}}
        {{#if skipOtp}}
          <button data-actionId="skipOtp" class="button brand-primary-bg">{{i18n 'email_verification_otp_required_btn_skip'}}</button>
        {{/if}}
      {{/with}}
      <button id="submit" data-actionId="checkOtp" type="submit" class="button button--primary brand-primary-bg">{{i18n 'btn_continue'}}</button>
      <div class="text-block">
        <a href="#" data-actionid="cancel">{{i18n 'btn_cancel'}}</a>
      </div>
      {{#if profileManagementUrl}}
        <div class="text-block">
          <a href="{{profileManagementUrl}}" target="_blank">{{i18n 'email_verification_otp_required_btn_manage'}}</a>
        </div>
      {{/if}}
    </div>
  </form>
  {{#ifEq actionid "resendOtp"}}
    <div id="notification" class="icon-feedback icon-feedback--success icon-feedback--small">
      <span class="icon-feedback__icon pingicon-ghost-error"></span>
      <p class="icon-feedback__label">{{i18n 'email_verification_otp_required_text_check'}}</p>
    </div>
  {{/ifEq}}
</div>