<div class="icon-feedback icon-feedback--error">
  <div class="icon-feedback__label">
    {{#if errorHeader}}
      <p class="icon-feedback__label">{{errorHeader}}</p>
    {{else}}
      <p class="icon-feedback__label">{{i18n 'error_title'}}</p>
    {{/if}}
  </div>
</div>
<div class="feedback--error">
  {{#if userMessages}}
    {{> errors}}
  {{else}}
    <div class="text-block text-block--small" data-id="textblock">
      <div class="text-block--overflow-wrap">
        {{#if msg}}
          {{msg}}
        {{else}}
          {{i18n 'error_text'}}
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
