<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <div id="externalAuthnHeaderId" style="display: none">
    <h1 class="heading">{{i18n 'external_authentication_required_title'}}</h1>
  </div>
  <div class="spinner" id="spinnerId">
    <div class="spinner__icon" data-id="spinner"></div>
  </div>
  <div id="externalAuthnId" style="display: none">
    <div class="text-block">
      <div class="text-block__text">{{i18n 'external_authentication_required_text'}}</div>
    </div>
    <button data-externalAuthActionId="reopenPopUp" class="button">{{i18n 'external_authentication_required_btn_try'}}</button>
  </div>
  <form class="form form--margin-small" id="AuthnWidgetForm">
    <button data-actionId="cancelAuthentication" class="button">{{i18n 'btn_cancel'}}</button>
  </form>
</div>
