<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  <form class="form form--spacing-lg idv-form" id="AuthnWidgetForm">
    <div class="stack stack--small">
      <h1 id="requiredHeader" class="heading" data-id="heading">
        {{#if errJson}}
          {{i18n 'id_verification_required_title_1'}}
        {{else}}
          {{i18n 'id_verification_required_title_2'}}
        {{/if}}
      </h1>
      <h4 id="requiredDescription" class="heading heading--4 text-block" data-id="heading">
        {{#if errJson}}
          {{i18n 'id_verification_required_subtitle_1'}}
        {{else}}
          {{i18n 'id_verification_required_subtitle_2'}}
        {{/if}}
      </h4>
      <h1 id="startedHeader" class="heading" data-id="heading" style="display: none">{{i18n 'id_verification_required_title_3'}}</h1>
      <h4 id="startedDescription" class="heading heading--4 text-block" data-id="heading" style="display: none">
        {{i18n 'id_verification_required_subtitle_3'}}
      </h4>
    </div>
    <div id="qrCodeBlock" class="text-block" style="display: none">
      <img id="qrCode" height="150px" width="150px" alt="QR Code" src=""/>
    </div>
    <div class="text-block stack stack--small" data-id="textblock">
      <div class="text-block stack stack--xsmall">
        <div class="heading heading--4 text-block" data-id="heading">{{i18n 'id_verification_required_text_check'}}</div>
        <div id="verificationCode" class="heading" data-id="heading">
          {{verificationCode}}
        </div>
      </div>
    </div>
    <div class="text-block">
      <a tabindex="0" id="retryVerification" target="_self" class="anchor">{{i18n 'btn_cancel'}}</a>
    </div>
  </form>
</div>