<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form" id="AuthnWidgetForm">
    {{#ifEq authenticator "TOKENPUSH"}}
      <div class="heading-text">
        <div class="text-block__text">{{i18n 'input_required_text_confirm_token'}}
        </div>
      </div>
      <div class="spinner spinner--margin-bottom-small">
        <div class="spinner__icon" data-id="spinner"></div>
      </div>
      <div class="text-block--overflow-wrap" id="pushnotificationmessage">
        {{i18n 'input_required_text_approve_push'}}
      </div>
    {{else ifEq authenticator "SMARTCREDENTIALPUSH"}}
      <div class="heading-text">
        <div class="text-block__text">
          {{i18n 'input_required_text_confirm_credential'}}
        </div>
      </div>
      <div class="spinner spinner--margin-bottom-small">
        <div class="spinner__icon" data-id="spinner"></div>
      </div>
      <div class="text-block--overflow-wrap" id="pushnotificationmessage">
        {{i18n 'input_required_approve_challenge'}}
      </div>
    {{else ifEq authenticator "KBA"}}
      <div class="heading-text">
        <div class="text-block__text">{{i18n 'input_required_text_kba'}}</div>
      </div>
      {{#each kbaChallenge.userQuestions as |kbaQuestion|}}
        <div class="float-label" id="kbaFields">
          <label class="label-text" for="{{kbaQuestion.id}}">{{kbaQuestion.question}}</label>
          <input type="text" class="text-input float-label__input required"
                 placeholder="{{input_required_placeholder_kba}}" name="kbaAnswer" id="{{kbaQuestion.id}}" value="" required/>
        </div>
      {{/each}}
    {{else ifEq authenticator "GRID"}}
      <div class="heading-text">
        <div class="text-block__text">{{i18n 'input_required_text_grid'}}</div>
      </div>
      {{#each gridChallenge.serialNumbers as |serialNumber|}}
        <div class="text-block--overflow-wrap">
          {{i18n 'input_required_text_serial'}}
          <div class="text-text-block--overflow-wrap">{{serialNumber}}</div>
        </div>
      {{/each}}
      <div class="entrust__grid">
        {{#each gridChallenge.cells as |cell|}}
          <div class="entrust__grid-item">
            {{cell}}
          </div>
        {{/each}}
      </div>
    {{else ifEq authenticator "EMAIL OTP"}}
      <div class="heading-text">
        <div class="text-block__text">{{i18n 'input_required_text_email_otp'}}</div>
      </div>
    {{else ifEq authenticator "SMS OTP"}}
      <div class="heading-text">
        <div class="text-block__text">{{i18n 'input_required_text_sms_otp'}}</div>
      </div>
    {{else ifEq authenticator "VOICE OTP"}}
      <div class="heading-text">
        <div class="text-block__text">{{i18n 'input_required_text_voice_otp'}}</div>
      </div>
    {{else ifEq authenticator "TOKEN"}}
      <div class="heading-text">
        <div class="text-block__text">{{i18n 'input_required_text_token'}}</div>
      </div>
    {{else ifEq authenticator "TEMP_ACCESS_CODE"}}
      <div class="heading-text">
        <div class="text-block__text">{{i18n 'input_required_text_code'}}</div>
      </div>
    {{/ifEq}}

  {{#ifNotEq authenticator "KBA"}}
    <div class="float-label" id="passcodefield">
      <input type="text" class="text-input float-label__input required" name="input" id="passcode"/>
      {{#ifEq authenticator "EMAIL OTP"}}
        <label class="float-label__label" for="passcode">{{i18n 'input_required_label_email_otp'}}</label>
      {{else ifEq authenticator "SMS OTP"}}
        <label class="float-label__label" for="passcode">{{i18n 'input_required_label_sms_otp'}}</label>
      {{else ifEq authenticator "VOICE OTP"}}
        <label class="float-label__label" for="passcode">{{i18n 'input_required_label_voice_otp'}}</label>
      {{else ifEq authenticator "TOKEN"}}
        <label class="float-label__label" for="passcode">{{i18n 'input_required_label_token'}}</label>
      {{else ifEq authenticator "TEMP_ACCESS_CODE"}}
        <label class="float-label__label" for="passcode">{{i18n 'input_required_label_tempory_code'}}</label>
      {{else ifEq authenticator "GRID"}}
        <label class="float-label__label" for="passcode">{{gridChallenge.cells}}</label>
      {{else}}
        <label class="float-label__label" for="passcode">{{i18n 'input_required_label_passcode'}}</label>
      {{/ifEq}}
    </div>
  {{/ifNotEq}}

    <button id="submit" data-checkInput="checkInput" type="submit" class="button button--primary brand-primary-bg"
            disabled>
      {{i18n 'input_required_btn_submit'}}
    </button>
    <div class="text-block">
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="showAlternativeAuthentication" target="_self" class="anchor">
          {{i18n 'input_required_btn_alternative'}}</a>
      </div>
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="cancel" target="_self" class="anchor">{{i18n 'btn_cancel'}}</a>
      </div>
    </div>
  </form>
</div>