<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo"/>
  </div>
  {{> errors}}
  <h1 class="heading">{{i18n 'mfa_setup_required_title'}}</h1>
  <div class="text-block">
    <div class="text-block--overflow-wrap">{{i18n 'mfa_setup_required_text'}}
    </div>
  </div>
  <div class="tile-selector tile-selector--stacked">
    <form class="form form--margin-small" id="AuthnWidgetForm">
      <div class="text-block" data-id="textblock">
        <div class="text-block--overflow-wrap">
          <div class="stack" data-id="stack">
            <div>
              <button id="submit" data-actionId="setupMfa" type="submit"
                      class="button button--primary brand-primary-bg">
                {{i18n 'mfa_setup_required_btn_setup'}}
              </button>
            </div>
            {{#if allowSkipMfa}}
              <a tabindex="0" data-actionId="skipMfa" target="_self" class="anchor">{{i18n 'mfa_setup_required_btn_skip'}}</a>
            {{else}}
              <a tabindex="0" data-actionId="cancelAuthentication" target="_self" class="anchor">{{i18n 'btn_cancel'}}</a>
            {{/if}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
