<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">{{i18n 'must_change_password_title'}}</h1>
  <div class="text-block text-block--small">
    <div class="text-block__text">{{i18n 'must_change_password_subtitle'}}</div>
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form form--spacing-lg" id="AuthnWidgetForm">
    {{#if showCaptcha}}
    <div class="g-recaptcha" data-sitekey="{{captchaSiteKey}}" data-callback="{{checkRecaptcha}}" data-size="invisible"
      id="invisibleRecaptchaId">
    </div>
    {{/if}}
    <div class="stack stack--small">
      <div class="float-label">
        <input type="text" class="text-input float-label__input required" name="username" placeholder="{{i18n 'must_change_password_label_username'}}"
          value="{{username}}" />
        <label class="float-label__label" for="username13">{{i18n 'must_change_password_label_username'}}</label>
      </div>
      <div class="stack stack--small">
        <div class="float-label">
          <input type="password" class="text-input float-label__input required" name="existingPassword"
            placeholder="{{i18n 'must_change_password_label_current_pwd'}}" />
          <label class="float-label__label" for="existingPassword">{{i18n 'must_change_password_label_current_pwd'}}</label>
        </div>
        <div class="float-label">
          <input type="password" id="newpassword" class="text-input float-label__input required" name="newPassword"
            placeholder="{{i18n 'must_change_password_label_new_pwd'}}" />
          <label class="float-label__label" for="newpassword">{{i18n 'must_change_password_label_new_pwd'}}</label>
          {{> password_requirements}}
        </div>
        <div class="float-label">
          <input type="password" id="verifypassword" class="text-input float-label__input required" name="verifyPassword"
            placeholder="{{i18n 'must_change_password_label_verify_pwd'}}" />
          <label class="float-label__label" for="verifypassword">{{i18n 'must_change_password_label_verify_pwd'}}</label>
        </div>
      </div>
    </div>
  </form>
  <div class="button-set">
    <button id="submit" type="submit" data-actionId="checkNewPassword" class="button button--primary brand-primary-bg"
      disabled>{{i18n 'btn_submit'}}</button>
    <button data-actionId="cancelPasswordChange" class="button">{{i18n 'btn_cancel'}}</button>
  </div>
</div>