<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  <h1 class="heading">{{i18n 'password_reset_required_title'}}</h1>
  {{> errors}}
  {{> spinner}}
  <form class="form" id="AuthnWidgetForm">
    {{#if showCaptcha}}
    <div class="g-recaptcha" data-sitekey="{{captchaSiteKey}}" data-callback="{{checkRecaptcha}}" data-size="invisible"
      id="invisibleRecaptchaId">
    </div>
    {{/if}}
    <div class="float-label">
      <input type="password" id="newpassword" class="text-input float-label__input required" name="newPassword"
        placeholder="{{i18n 'password_reset_required_label_new_password'}}" />
      <label class="float-label__label" for="newpassword">{{i18n 'password_reset_required_label_new_password'}}</label>
      {{> password_requirements}}
    </div>
    <div class="float-label">
      <input type="password" id="verifypassword" class="text-input float-label__input required" name="verifyPassword"
        placeholder="{{i18n 'password_reset_required_label_verify_password'}}" />
      <label class="float-label__label" for="verifypassword">{{i18n 'password_reset_required_label_verify_password'}}</label>
    </div>
    <div class="button-set">
      <button id="submit" type="submit" data-actionId="checkPasswordReset"
        class="button button--primary brand-primary-bg" disabled>{{i18n 'password_reset_required_btn_reset'}}</button>
      <button data-actionId="cancelAccountRecovery" class="button">{{i18n 'btn_cancel'}}</button>
    </div>
  </form>
</div>