<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form" id="AuthnWidgetForm">
    {{#if authFailed}}
    <div class="feedback feedback--error" data-id="feedback">
      <span class="feedback__icon pingicon-error-triangle"></span>
      <div class="feedback__message" id="errorMessage">
        {{i18n 'securid_credential_required_text_error_1'}} '{{remainingTries}}' {{i18n 'securid_credential_required_text_error_2'}}
      </div>
    </div>
    {{/if}}
    {{#if resetFailed}}
    <div class="feedback feedback--error" data-id="feedback">
      <span class="feedback__icon pingicon-error-triangle"></span>
      <div class="feedback__message">
        {{i18n 'securid_credential_required_text_reset_failed'}}
      </div>
    </div>
    {{/if}}
    <div class="float-label">
      <input type="text" class="text-input float-label__input required" id="username" name="username" placeholder="{{i18n 'securid_credential_required_label_username'}}"
        value="{{username}}" {{readonlyhelper allowUsernameEdits}} />
      <label class="float-label__label" for="username">{{i18n 'securid_credential_required_label_username'}}</label>
    </div>
    <div class="float-label">
      <input type="password" class="text-input float-label__input required" id="passcode" name="passcode"
        placeholder="{{i18n 'securid_credential_required_label_passcode'}}" />
      <label class="float-label__label" for="passcode">{{i18n 'securid_credential_required_label_passcode'}}</label>
    </div>
    <button id="submit" data-actionid="checkCredential" type="submit" class="button button--primary brand-primary-bg" disabled>
      {{i18n 'btn_submit'}}
    </button>
    <div class="text-block">
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="cancel" target="_self" class="anchor">{{i18n 'btn_cancel'}}</a>
      </div>
    </div>
  </form>
</div>