<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form" id="AuthnWidgetForm">
    {{#if authFailed}}
    <div class="feedback feedback--error" data-id="feedback">
      <span class="feedback__icon pingicon-error-triangle"></span>
      <div class="feedback__message">
        {{i18n 'securid_user_pin_reset_required_error_msg'}}
      </div>
    </div>
    {{/if}}
    <div class="text-block" data-id="textblock">
      <div class="text-block--overflow-wrap">
        {{i18n 'securid_user_pin_reset_required_text'}}
      </div>
    </div>
    <div class="text-block" data-id="textblock">
      <div class="text-block--overflow-wrap" id="newPinMessage">
        {{pinResetMessage}}
      </div>
    </div>
    <div class="float-label">
      <input type="password" class="text-input float-label__input required" id="newPin" name="newPin" placeholder="{{i18n 'securid_user_pin_reset_required_label_new_pin'}}" />
      <label class="float-label__label" for="newPin">{{i18n 'securid_user_pin_reset_required_label_new_pin'}}</label>
    </div>
    <div class="float-label">
      <div id="pinStatus" class="text-input__icon text-input__icon--error" style="display: none"></div>
      <input type="password" class="text-input float-label__input required" id="confirmPin" name="confirmPin" placeholder="{{i18n 'securid_user_pin_reset_required_label_confirm_pin'}}" />
      <label class="float-label__label" for="confirmPin">{{i18n 'securid_user_pin_reset_required_label_confirm_pin'}}</label>
      <div id="errorMessage" class="tooltip" data-id="tooltip" style="display: none">
        {{i18n 'securid_user_pin_reset_required_error_pin_no_match'}}
      </div>
    </div>
    <button id="submit" data-actionid="resetPin" type="submit" class="button button--primary brand-primary-bg">
      {{i18n 'btn_submit'}}
    </button>
    <div class="text-block">
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="cancel" target="_self" class="anchor">{{i18n 'btn_cancel'}}</a>
      </div>
    </div>
  </form>
</div>