<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form" id="AuthnWidgetForm">
    <div class="text-block" data-id="textblock">
      <div class="text-block--overflow-wrap">
        {{> i18n 'securid_reauthentication_required_text'}}
      </div>
    </div>
    <div class="float-label">
      <input type="password" class="text-input float-label__input required" id="passcode" name="passcode"
        placeholder="{{i18n 'securid_reauthentication_required_label_passcode'}}" />
      <label class="float-label__label" for="passcode">{{i18n 'securid_reauthentication_required_label_passcode'}}</label>
    </div>
    <button id="submit" data-actionid="checkPasscode" type="submit" class="button button--primary brand-primary-bg">
      {{i18n 'btn_submit'}}
    </button>
    <div class="text-block">
      <div class="text-block--overflow-wrap">
        <a tabindex="0" data-actionId="cancel" target="_self" class="anchor">{{i18n 'btn_cancel'}}</a>
      </div>
    </div>
  </form>
</div>