<div class="card">
  <div class="org-logo">
    <img class="org-logo__image" src="{{logo}}" alt="Company Logo" />
  </div>
  {{> errors}}
  {{> spinner}}
  <form class="form" id="AuthnWidgetForm">
    {{#if showCaptcha}}
    <div class="g-recaptcha" data-sitekey="{{captchaSiteKey}}" data-callback="{{checkRecaptcha}}" data-size="invisible"
      id="invisibleRecaptchaId">
    </div>
    {{/if}}
    <div class="float-label">
      <input type="text" class="text-input float-label__input required" id="username" data-st-field="username" name="username" placeholder="{{i18n 'username_password_required_label_username'}}"
        value="{{username}}" {{readonlyhelper allowUsernameEdits}} />
      <label class="float-label__label" for="username">{{i18n 'username_password_required_label_username'}}</label>
    </div>
    <div class="float-label">
      <input type="password" class="text-input float-label__input required" id="password" data-st-field="password" name="password"
        placeholder="{{i18n 'username_password_required_label_password'}}" />
      <label class="float-label__label" for="password">{{i18n 'username_password_required_label_password'}}</label>
    </div>
    {{#if showRememberMyUsername}}
    <div>
      <label class="checkbox">
        <input type="checkbox" class="checkbox__input" name="rememberMyUsername"
          {{checkedIf rememberMyUsernameSelected}} value="true" />
        <span class="checkbox__standin"></span>
        <span class="checkbox__label">{{i18n 'username_password_required_label_remember'}}</span>
      </label>
    </div>
    {{/if}}
    {{#if showThisIsMyDevice}}
    <div>
      <label class="checkbox">
        <input type="checkbox" class="checkbox__input" name="thisIsMyDevice" {{checkedIf thisIsMyDeviceSelected}}
          value="true" />
        <span class="checkbox__standin"></span>
        <span class="checkbox__label">{{i18n 'username_password_required_label_my_device'}}</span>
      </label>
    </div>
    {{/if}}
    {{#with _links as |actions|}}
    {{#if checkUsernamePassword}}
    <button id="submit" data-actionid="checkUsernamePassword" type="submit" data-st-tag="login.login_attempt"
      class="button button--primary brand-primary-bg" disabled>
      {{i18n 'username_password_required_btn_sign'}}
    </button>
    {{/if}}
    {{#if useAlternativeAuthenticationSource}}
      {{> alternate_authn_sources @root button-prefix="Login" }}
    {{/if}}
    {{#if initiateAccountRecovery}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="initiateAccountRecovery">{{i18n 'username_password_required_link_trouble_sign_on'}}</a>
    </div>
    {{else}}
    {{#if recoverUsername}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="recoverUsername">{{i18n 'username_password_required_link_trouble_sign_on'}}</a>
    </div>
    {{/if}}
    {{/if}}
    {{#if initiatePasswordChange}}
    <div class="text-block text-block--small">
      <a href="#" data-actionid="initiatePasswordChange">{{i18n 'username_password_required_link_change_password'}}</a>
    </div>
    {{/if}}
    {{#if initiateRegistration}}
    <div class="text-block text-block--small">
      {{i18n 'username_password_required_text_no_account'}} <a href="#" data-actionid="initiateRegistration">{{i18n 'username_password_required_link_register'}}</a>
    </div>
    {{/if}}
    {{/with}}
  </form>
</div>